body{
    color:white;
    background:rgb(34, 78, 199);
}

header {
    border: solid 2xp rgb(5, 83, 184);
    padding: 20px;
font-size: 32px;
color: rgb(127, 177, 243);
} 


section {
    background: rgb(42, 122, 228)
    padding-bottom: 80px;
    paddint-top: 80px;
}
    